{
  "env": {
    "node": true,
    "es6": true,
    "jquery": true,
    "mocha": true
  },
  "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "plugins": ["promise","prettier"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-continue": "off",
    "no-await-in-loop": "warn",
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "no-plusplus": "off",
    "no-multi-assign": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off"
  }
}
