{
    "exchanges": {
        "bitfinex": {
            "key": null,
            "secret": null
        },
        "bitmex": {
            "key": null,
            "secret": null
        },
        "binance": {
            "key": null,
            "secret": null
        },
        "coinbase_pro": {
            "key": null,
            "secret": null,
            "passphrase": null
        }
    },
    "notify": {
        "slack": {
            "webhook": "https://hooks.slack.com/services/....",
            "name": "crypto-bot",
            "icon_emoji": ":ghost:"
        },
        "mail": {
            "to": "example@example.de",
            "username": "foo@foo.de",
            "password": "bar",
            "server": "mail.foo.de",
            "port": 465
        }
    },
    "webserver": {
        "ip": "0.0.0.0",
        "port": 8080,
        "username": null,
        "password": null
    },
    "tick": {
        "default": null,
        "warmup": null,
        "signal": null,
        "watchdog": null,
        "ordering": null,
        "pair_signal_concurrency": null
    },
    "order": {
        "retry": null,
        "retry_ms": null
    }
}