{
    "exchanges": {
        "bitfinex": {
            "key": "xxx",
            "secret": "xxx"
        },
        "bitmex": {
            "key": "xxx",
            "secret": "xxx"
        }
    },
    "notify": {
        "slack": {
            "webhook": "https://hooks.slack.com/services/....",
            "name": "crypto-bot",
            "icon_emoji": ":ghost:"
        }
    },
    "webserver": {
        "port": 8080
    }
}