{
    "exchanges": {
        "bitfinex": {
            "key": "xxx",
            "secret": "xxx"
        },
        "bitmex": {
            "key": "xxx",
            "secret": "xxx"
        },
        "binance": {
            "key": "xxx",
            "secret": "xxx"
        }
    },
    "notify": {
        "slack": {
            "webhook": "https://hooks.slack.com/services/....",
            "name": "crypto-bot",
            "icon_emoji": ":ghost:"
        },
        "mail": {
            "username": "foo@foo.de",
            "password": "bar",
            "server": "mail.foo.de",
            "port": 465
        }
    },
    "webserver": {
        "ip": "0.0.0.0",
        "port": 8080
    },
    "tick": {
        "default": null,
        "warmup": null,
        "signal": null,
        "watchdog": null,
        "order_adjust": null,
        "order_pair_state": null
    },
    "order": {
        "retry": null,
        "retry_ms": null
    }
}