{
  "symbols": [
    {
      "symbol": "EOSUSD",
      "periods": ["15m"],
      "exchange": "bitfinex",
      "state": "watch",
      "strategies": [
        {
          "strategy": "cci",
          "options": {
            "period": "15m"
          }
        },
        {
          "strategy": "macd",
          "options": {
            "period": "1h"
          }
        }
      ]
    },
    {
      "symbol": "ETPUSD",
      "periods": ["15m"],
      "exchange": "bitfinex",
      "state": "watch"
    },
    {
      "symbol": "ADAU18",
      "periods": ["1h", "5m"],
      "exchange": "bitmex",
      "state": "watch"
    }
  ]
}