<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crypto-Bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% block stylesheet %}{% endblock stylesheet %}

    <style>
        body {
            font-size: 0.8em;
        }

        .table td,
        .table th {
            padding: .5rem;
        }
    </style>

    {% block head %}
    {% endblock head %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Crypto-Bot</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signals">Signals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/backtest">Backtest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trades">Trades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pairs">Pairs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logs">Logs</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{% block javascript %}{% endblock javascript %}

</body>
</html>